<body style="background-color:#000000;font-family:verdana,helvetica,sans-serif;font-size:62.5%;color:#e9f1f8;">
<table width="100%" height="100%" border="0">
	<tr>
		<td align="center" valign="middle" style="font-size:0.8em;">
			<img src="dayturn_loading.png" align="absmiddle"><br/>&nbsp;&nbsp;&nbsp;loading...
		</td>
	</tr>
</table>
</body>
